.game-over-modal {
  .modal-dialog {
    max-width: 200px;
    @media only screen and (max-device-width: 767px) {
      max-width: 100%;
    }
  }
  p {
    font-size: 25px;
  }
}

.btn-area {
  text-align: center;
}
